{% extends 'base.html.twig' %}

{% block title %}List of Posts{% endblock %}

{% block body %}
  {% if posts %}
    <table id="articles" class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Author <th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
          <tr>

            <td>{{ post.title }}</td>
            <td>{{ author }}</td>
            <td>{{ post.description}}</td>
             
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No posts to display</p>
  {% endif %}
{% endblock %}

{% block javascripts %}
  <script src="/js/main.js"></script>
{% endblock %}